@page "/books"
@inject BookService BookService
<PageTitle>Book List</PageTitle>
<h1>The Books</h1>

@if(books == null)
{
  <p>Loading...</p>
}
else
{
  <table>
    <tr>
      <th>ID</th>
      <th>Book</th>
      <th>Type</th>
      <th>Available</th>
    </tr>
      @foreach (var book in books)
      {
        <tr>
          <td>@book.Id</td>
          <td>@book.Title</td>
          <td>@book.Type</td>
          <td>@book.Available</td>
        </tr>
      }
  </table>
}

@code{
  private List<BookSummary>? books;

  protected override async Task OnInitializedAsync()
  {
    books = await BookService.GetBookAsync();
  }
}