@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Blazor!</h1>
<p>
    This is my first Blazor project that I completed on my own.</p>
<p>
    It is a simple website that consumes the <a href="https://github.com/vdespa/introduction-to-postman-course/blob/main/simple-books-api.md">Simple Books API</a>
    that then just displays some books to a page.
</p>
<p>
    I talk more about this in the Githubs project README.md file. There you will find a blog as I went through this project and overall what I learned and what I think I need to learn again and next.
</p>



